<table class="mainTemplate">
  <!-- LOGO - BEGIN -->
  <tr>
    <td class="mainTemplateLogo" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="50%">
        <tr>
          <td align="center" valign="top" >
            <img class="imgLogo" src="bemol_logo.png">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- LOGO - END -->

  <!-- BLOCK TITLE - BEGIN -->
  <tr>
    <td class="mainTemplateTitle" align="center">
      <table>
        <tr>
          <td align="center" valign="top">
            <h1>Página Inicial</h1>
            <h2>Info Routes:</h2>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- BLOCK TITLE - END -->

  <!-- BLOCK CONTENT - BEGIN -->
  <tr>
    <td class="mainContent" align="center">
      <table>

        <!-- BLOCK BANCOHORA - BEGIN -->
        <tr>
          <td>
            <a href="/bancohora"> Banco Hora</a>
            <a href="/bancohora"> Banco Hora</a>
            <a href="/bancohora"> Banco Hora</a>
            <a href="/bancohora"> Banco Hora</a>
            <a href="/bancohora"> Banco Hora</a>
            <a href="/bancohora"> Banco Hora</a>
          </td>
        </tr>
        <!-- BLOCK BANCOH0RA - END -->

      </table>
    </td>
  </tr>
  <!-- BLOCK CONTENT - END -->
</table>

