<!DOCTYPE html>
<html>
	<head>
	    <title>Contracheque</title>
	</head>
	<body>
	    <h1>Sessão expirou :(</h1>
	    <p>Os links gerados pelo bot ficam disponíveis apenas por um curto periodo de tempo, solicite um novo link do bot!</p>
	</body>
</html>