<nav>
  <div class=" blue darken-1 nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Início</a></li>
      <li><a href="badges.html">Serviços</a></li>
      <li><a href="collapsible.html">Produtos</a></li>
      <li><a href="collapsible.html">Fale Conosco</a></li>
    </ul>
  </div>
</nav>